:host ::ng-deep .api-search-list {
    padding: 20px 0px 20px 50px;
}

:host ::ng-deep .api-search-wrap {
    background-color: #ffffff;
}

:host ::ng-deep .api-search-one {
    border-bottom: 1px solid rgba(23,35,61,0.10);
    padding: 16px 0px;
}

:host ::ng-deep .ant-form-item {
    margin-bottom: 0px;
}

:host ::ng-deep .api-search-one-title {
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #0B1100;
}

:host ::ng-deep .api-search-one-desc {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: rgba(11,17,-2147483648,0.75);
    margin-bottom: 5px;
}

:host ::ng-deep .api-search-one-bot span {
    font-family: Roboto-Regular;
    font-size: 13px;
    color: rgba(23,35,61,0.35);
}

:host ::ng-deep .api-search-last {
    padding-top: 20px;
}