<nz-layout>
    <nz-header style="padding: 0px 24px;">
        <app-top [value]="value" (saveValue)="saveValue($event);"></app-top>
    </nz-header>
    <nz-content>
        <div nz-row class="api-search-wrap">
            <div nz-col nzSpan="6">
                <!-- 用于页面布局 -->
            </div>
            <ng-template #tableTotal>
                <div>
                    总共 {{total}} 条
                </div>
            </ng-template>
            <div nz-col nzSpan="14">
                <div class="api-search-list">
                    <div class="api-search-one">
                        <h3 class="api-search-one-title" (click)="detail();">详情查询接口</h3>
                        <div class="api-search-one-desc">查询用户的详细信息，包括用户的各种标签、属性等。</div>
                        <div class="api-search-one-bot">
                            <span>最后更新：</span>
                            <span>2018-08-05 18:23:36</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>版本：</span>
                            <span>1.0.3</span>
                        </div>
                    </div>

                    <div class="api-search-one">
                        <h3 class="api-search-one-title">详情查询接口</h3>
                        <div class="api-search-one-desc">查询用户的详细信息，包括用户的各种标签、属性等。查询用户的详细信息，包括用户的各种标签、属性等。查询用户的详细信息，包括用户的各种标签、属性等。查询用户的详细信息，包括用户的各种标签、属性等。查询用户的详细信息，包括用户的各种标签、属性等。查询用户的详细信息，包括用户的各种标签、属性等。</div>
                        <div class="api-search-one-bot">
                            <span>最后更新：</span>
                            <span>2018-08-05 18:23:36</span>
                            <nz-divider nzType="vertical"></nz-divider>
                            <span>版本：</span>
                            <span>1.0.3</span>
                        </div>
                    </div>

                    <div class="api-search-last">
                        <nz-pagination [nzPageIndex]="1" [nzTotal]="500" [nzShowTotal]="tableTotal"></nz-pagination>
                    </div>
                </div>
            </div>
        </div>
    </nz-content>
</nz-layout>